---
import type { CollectionEntry } from "astro:content";

interface Props {
  skills: CollectionEntry<"skill">[];
}

const { skills } = Astro.props;
---

<ul class="flex flex-wrap">
  {
    skills.map((skill) => (
      <li class="my-1 mr-2 block rounded-lg p-1 transition duration-200 hover:bg-slate-100 hover:dark:bg-slate-700">
        <a href={skill.data.url} target="_blank" referrerpolicy="no-referrer">
          <img
            alt={skill.data.name}
            height="30"
            width="30"
            src={skill.data.logoUrl}
          />
        </a>
      </li>
    ))
  }
</ul>
