---
import type { CollectionEntry } from "astro:content";

interface Props {
  skills: CollectionEntry<"skill">[];
}

const { skills } = Astro.props;
---

<ul class="flex">
  {
    skills.map((skill) => (
      <li class="mr-4 block">
        <img
          alt={skill.data.name}
          height="25"
          width="25"
          src={skill.data.logoUrl}
        />
      </li>
    ))
  }
</ul>
