---
import type { CollectionEntry } from "astro:content";

interface Props {
  skills: CollectionEntry<"skill">[];
}

const { skills } = Astro.props;
---

<ul class="flex">
  {
    skills.map((skill) => (
      <li>
        <img
          class="mb-2 mr-2"
          alt={skill.data.name}
          height="35"
          width="35"
          src={skill.data.logoUrl}
        />
      </li>
    ))
  }
</ul>
