<header class="fixed top-0 z-20 w-full bg-white py-4 shadow-lg">
  <nav class="content-container">
    <div class="flex items-center justify-between">
      <div>
        <img src="/logo.svg" alt="Sean Dodson" width="40" height="40" />
      </div>
      <button
        id="navToggleButton"
        class="rounded-2xl p-1 transition duration-100 hover:bg-gray-100"
        aria-label="Toggle navigation menu"
      >
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>
    </div>
    <div
      id="navLinksContainer"
      class="invisible max-h-0 overflow-hidden opacity-0 transition-all duration-300"
    >
      <a
        href="/#overview"
        class="m-1 block py-4 text-slate-600 underline transition duration-100 hover:text-black"
      >
        Overview
      </a>
      <a
        href="/#projects"
        class="m-1 block py-4 text-slate-600 underline transition duration-100 hover:text-black"
      >
        Projects
      </a>
      <a
        href="/#contact"
        class="m-1 block py-4 text-slate-600 underline transition duration-100 hover:text-black"
      >
        Contact
      </a>
    </div>
  </nav>
</header>
<style>
  .line {
    width: 32px;
    height: 4px;
    margin: 4px auto;

    @apply m-1 block bg-slate-800 transition duration-300;
  }

  .open .line:nth-child(1) {
    @apply translate-y-2 rotate-45;
  }

  .open .line:nth-child(3) {
    @apply -translate-y-2 -rotate-45;
  }

  .open .line:nth-child(2) {
    @apply opacity-0;
  }
</style>
<script>
  const navToggleButton =
    document.querySelector<HTMLButtonElement>("#navToggleButton");
  const navLinksContainer =
    document.querySelector<HTMLElement>("#navLinksContainer");
  const navLinks = document.querySelectorAll<HTMLAnchorElement>(
    "#navLinksContainer a",
  );

  let isOpen = false;

  function toggleNav() {
    if (!navLinksContainer) {
      return;
    }

    navLinksContainer.classList.toggle("opacity-0");
    navLinksContainer.classList.toggle("opacity-100");
    navLinksContainer.classList.toggle("mt-4");
    navLinksContainer.classList.toggle("invisible");

    navToggleButton?.classList.toggle("open");

    if (isOpen) {
      navLinksContainer.style.maxHeight = "0px";
    } else {
      navLinksContainer.style.maxHeight = `${navLinksContainer.scrollHeight}px`;
    }

    isOpen = !isOpen;
  }

  navToggleButton?.addEventListener("click", toggleNav);

  navLinks.forEach((a) => {
    a.addEventListener("click", toggleNav);
  });
</script>
