<header class="fixed top-0 z-20 w-full bg-white py-4 shadow-lg">
  <nav class="content-container">
    <div class="flex items-center justify-between">
      <div>
        <img src="/logo.svg" alt="Sean Dodson" width="40" height="40" />
      </div>
      <button
        id="navToggleButton"
        class="rounded-2xl p-1 transition duration-100 hover:bg-gray-100"
      >
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 24 24"
          height="32px"
          width="32px"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Toggle navigation menu</title>
          <path fill="none" d="M0 0h24v24H0V0z"></path><path
            d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"
          >
          </path>
        </svg>
      </button>
    </div>
    <div
      id="navLinksContainer"
      class="invisible max-h-0 overflow-hidden opacity-0 transition-all duration-300"
    >
      <a
        href="#overview"
        class="m-1 block py-4 text-slate-600 underline transition duration-100 hover:text-black"
      >
        Overview
      </a>
      <a
        href="#projects"
        class="m-1 block py-4 text-slate-600 underline transition duration-100 hover:text-black"
      >
        Projects
      </a>
      <a
        href="#contact"
        class="m-1 block py-4 text-slate-600 underline transition duration-100 hover:text-black"
      >
        Contact
      </a>
    </div>
  </nav>
</header>
<script>
  const navToggleButton =
    document.querySelector<HTMLButtonElement>("#navToggleButton");
  const navLinksContainer =
    document.querySelector<HTMLElement>("#navLinksContainer");
  const navLinks = document.querySelectorAll<HTMLAnchorElement>(
    "#navLinksContainer a",
  );

  let isOpen = false;

  function toggleNav() {
    if (!navLinksContainer) {
      return;
    }

    navLinksContainer.classList.toggle("opacity-0");
    navLinksContainer.classList.toggle("opacity-100");
    navLinksContainer.classList.toggle("mt-4");
    navLinksContainer.classList.toggle("invisible");

    if (isOpen) {
      navLinksContainer.style.maxHeight = "0px";
    } else {
      navLinksContainer.style.maxHeight = `${navLinksContainer.scrollHeight}px`;
    }

    isOpen = !isOpen;
  }

  navToggleButton?.addEventListener("click", toggleNav);

  navLinks.forEach((a) => {
    a.addEventListener("click", toggleNav);
  });
</script>
