---
import NavLink from "./nav-link.astro";
import NavToggleButton from "./nav-toggle-button.astro";
import DarkModeToggleButton from "./dark-mode-toggle-button.astro";
---

<header class="fixed top-0 z-20 w-full bg-white py-4 shadow-lg dark:bg-slate-800 transition">
  <nav class="content-container flex flex-wrap items-center">
    <div class="flex-1">
      <img
        src="/logo.svg"
        alt="Sean Dodson"
        width="40"
        height="40"
      />
    </div>
    <div class="flex items-center md:order-1">
      <DarkModeToggleButton class="mr-2 p-1 md:ml-1 md:mr-0 md:px-2 md:py-1"/>
    </div>
    <NavToggleButton id="navToggleButton" />
    <div
      id="navLinksContainer"
      class="invisible max-h-0 w-full overflow-hidden opacity-0 transition-all duration-300 md:visible md:mt-0 md:flex md:max-h-none md:w-auto md:opacity-100"
    >
      <NavLink href="/#overview">Overview</NavLink>
      <NavLink href="/#projects">Projects</NavLink>
      <NavLink href="/#contact">Contact</NavLink>
    </div>
  </nav>
</header>
<script>
  const navToggleButton =
    document.querySelector<HTMLButtonElement>("#navToggleButton");
  const navLinksContainer =
    document.querySelector<HTMLElement>("#navLinksContainer");
  const navLinks = document.querySelectorAll<HTMLAnchorElement>(
    "#navLinksContainer a"
  );

  let isOpen = false;

  function toggleNav() {
    if (!navLinksContainer || !navToggleButton) {
      return;
    }

    navToggleButton.classList.toggle("open");

    navLinksContainer.classList.toggle("opacity-0");
    navLinksContainer.classList.toggle("opacity-100");
    navLinksContainer.classList.toggle("mt-4");
    navLinksContainer.classList.toggle("invisible");

    if (isOpen) {
      navLinksContainer.style.maxHeight = "";
    } else {
      navLinksContainer.style.maxHeight = `${navLinksContainer.scrollHeight}px`;
    }

    isOpen = !isOpen;
  }

  navToggleButton?.addEventListener("click", toggleNav);

  navLinks.forEach((a) => {
    a.addEventListener("click", toggleNav);
  });
</script>
