---
interface Props {
  id?: string;
}

const { id } = Astro.props;
---

<button
  id={id}
  class="rounded-lg p-1 transition duration-200 hover:bg-slate-100 hover:dark:bg-slate-700 md:hidden"
  aria-label="Toggle navigation menu"
>
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</button>
<style>
  .line {
    width: 32px;
    height: 4px;
    margin: 4px auto;

    @apply m-1 block bg-slate-800 transition duration-300 dark:bg-slate-100;
  }

  .open .line:nth-child(1) {
    @apply translate-y-2 rotate-45;
  }

  .open .line:nth-child(3) {
    @apply -translate-y-2 -rotate-45;
  }

  .open .line:nth-child(2) {
    @apply opacity-0;
  }
</style>
