---
import Layout from "../widgets/layout/layout.astro";
---

<Layout title="Not Found">
  <section class="text-center">
    <h1>Uh-oh!</h1>
    <p class="mt-8 text-slate-700">
      We couldn't find the page you were looking for.
    </p>
    <a href="/" class="link mt-8 block">Return to home page</a>
  </section>
</Layout>
