---
import { getCollection } from "astro:content";
import Experience from "../entities/experience/experience.astro";
import Education from "../entities/education/education.astro";

const year = new Date().getFullYear();

const experiences = await getCollection("experience");
const educations = await getCollection("education");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio - Sean Dodson</title>
  </head>
  <body>
    <div class="min-h-screen">
      <header>
        <nav>
          <a href="#experience">Experience</a>
          <a href="#education">Education</a>
          <a href="#projects">Projects</a>
          <a href="#contact">Contact</a>
        </nav>
      </header>
      <main>
        <section>
          <p>Nice to meet you! I'm</p>
          <h1>Sean Dodson</h1>
          <p>
            I’m a passionate software engineer who loves his craft and enjoys
            working with others to solve problems. I specialize in building full
            stack web applications at scale.
          </p>
        </section>
        <section id="experience">
          <h2>I’m a professional software engineer, with experience at</h2>
          {
            experiences.map((experience) => (
              <Experience experience={experience} />
            ))
          }
        </section>
        <section id="education">
          <h2>I went to school for software engineering at</h2>
          {educations.map((education) => <Education education={education} />)}
        </section>
        <section id="projects">
          <h2>
            I’ve been writing code for fun since my teen years, building
            personal projects such as
          </h2>
          <article>
            <img alt="" src="/trade-fox.png" />
            <h3>Trade Fox</h3>
            <a href="https://tradefox.app">https://tradefox.app</a>
            <div>
              <h4>Highlights</h4>
              <ul>
                <li>
                  A website for analyzing trades in fantasy football leagues
                </li>
              </ul>
            </div>
            <div>
              <h4>Skills</h4>
              <ul>
                <li>
                  <img alt="" />
                  <div>JavaScript</div>
                </li>
              </ul>
            </div>
            <time>August 2017</time> - <time>December 2020</time>
          </article>
        </section>
        <section id="contact">
          <h2>Need help with anything? Let’s get in touch!</h2>
          <div>
            <label for="name">Name</label>
            <input id="name" />
          </div>
          <div>
            <label for="message">Message</label>
            <textarea id="message"></textarea>
          </div>
          <button>Send</button>
        </section>
      </main>
    </div>
    <footer>
      <a href="https://github.com">GitHub</a>
      <a href="https://linkedin.com">LinkedIn</a>
      <p>Copyright © {year} Sean Dodson. All rights reserved.</p>
    </footer>
  </body>
</html>
