---
import { getCollection } from "astro:content";
import Project from "../entities/project/project.astro";
import NavSection from "../widgets/nav-section/nav-section.astro";
import Header from "../widgets/header/header.astro";

const year = new Date().getFullYear();

const projects = await getCollection("project");
const sortedProjects = projects.sort(
  (a, b) =>
    (b.data.endDate?.getTime() ?? Date.now()) -
    (a.data.endDate?.getTime() ?? Date.now()),
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio - Sean Dodson</title>
  </head>
  <body>
    <Header />
    <main class="content-container">
      <NavSection id="overview">
        <div class="mt-32"></div>
        <p class="text-lg text-slate-700">Nice to meet you! I'm</p>
        <h1 class="mt-8">Sean Dodson</h1>
        <p class="mt-8 text-lg text-slate-700">
          I’m a passionate software engineer who loves his craft and enjoys
          working with others to solve problems. I specialize in building full
          stack web applications at scale.
        </p>
      </NavSection>
      <NavSection id="projects">
        <h2>
          I enjoy writing software for fun, building personal projects such as
        </h2>
        {
          sortedProjects.map((project) => (
            <div class="mt-12">
              <Project project={project} />
            </div>
          ))
        }
      </NavSection>
      <NavSection id="contact">
        <h2>Anything I can help with? Let’s get in touch!</h2>
        <div>
          <label for="name">Name</label>
          <input id="name" />
        </div>
        <div>
          <label for="message">Message</label>
          <textarea id="message"></textarea>
        </div>
        <button>Send</button>
      </NavSection>
    </main>
    <footer class="content-container">
      <a href="https://github.com">GitHub</a>
      <a href="https://linkedin.com">LinkedIn</a>
      <p>Copyright © {year} Sean Dodson. All rights reserved.</p>
    </footer>
  </body>
</html>

<style is:global>
  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-xl font-bold leading-none;
  }

  .content-container {
    max-width: 650px;

    @apply m-auto px-8;
  }

  .link {
    @apply font-bold text-blue-700 hover:text-blue-900;
  }
</style>
