---
import "@fontsource/kanit";
import "@fontsource/kanit/200.css";
import "@fontsource/kanit/600.css";
import { SEO } from "astro-seo";
import Header from "../header/header.astro";
import Footer from "../footer/footer.astro";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Hi there, I'm Sean Dodson! I’m a passionate software engineer who loves his craft and enjoys working with others to solve problems. I specialize in building full stack web applications at scale.",
} = Astro.props;
---

<html lang="en">
  <head>
    <SEO
      title={title}
      openGraph={{
        basic: {
          title: `${title} - Sean Dodson`,
          type: "website",
          image: "https://seandodson.com/projects/portfolio/preview.png",
        },
        optional: {
          description,
        },
      }}
      titleTemplate="%s - Sean Dodson"
      description={description}
      charset="utf-8"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div class="min-h-screen">
      <Header />
      <main class="content-container">
        <slot />
      </main>
    </div>
    <Footer />
    <script>
      window.addEventListener("load", () => {
        document.body.classList.add("loaded");
      });
    </script>
    <style is:global>
      body {
        font-family: Kanit, sans-serif;
      }

      h1,
      h2,
      h3 {
        @apply text-slate-800;
      }

      h1 {
        @apply text-5xl font-bold;
      }

      h2 {
        @apply text-3xl font-bold;
      }

      h3 {
        @apply text-xl font-bold leading-none;
      }

      .content-container {
        max-width: 800px;

        @apply m-auto px-8;
      }

      .link {
        @apply font-bold text-blue-700 hover:text-blue-900;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        @apply block w-full rounded border p-1;
      }
    </style>
  </body>
</html>
