---
interface Props {
  startDate: Date;
  endDate: Date | null;
}

const { startDate, endDate } = Astro.props;

function formatDate(date: Date | null) {
  if (!date) {
    return null;
  }

  return date.toLocaleDateString("en-us", {
    month: "short",
    year: "numeric",
    timeZone: "UTC",
  }).replaceAll(' ', '\u00a0');
}

const startDateDisplay = formatDate(startDate);
const endDateDisplay = formatDate(endDate);
---

<div class="text-right">
  <time class="inline" datetime={startDate.toISOString()}
    >{startDateDisplay}</time
  >
  - {
    endDate ? (
      <time class="inline" datetime={endDate.toISOString()}>
        {endDateDisplay}
      </time>
    ) : (
      <div class="inline">Present</div>
    )
  }
</div>
